<div class="jga jga-profile">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Profile</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


    <div class="container-fluid">

        <label for="firstName">First Name</label>
        <input name="firstName"
               ng-model="model.user.firstName"
               placeholder="Alice"
               class="form-control"
               id="firstName"/>

        <label for="lastName">Last Name</label>
        <input name="lastName"
               ng-model="model.user.lastName"
               placeholder="Wonderland"
               class="form-control"
               id="lastName"/>

        <label for="username">Username</label>
        <input name="username"
               ng-model="model.user.username"
               readonly
               value="alice"
               placeholder="alice"
               class="form-control"
               id="username"/>

        <label for="email">Email</label>
        <input name="email"
               type="email"
               placeholder="alice@wonderland.com"
               class="form-control"
               id="email"/>

        <label for="dob">Date of Birth</label>
        <input name="dob"
               type="date"
               class="form-control"
               id="dob"/>

        <a class="btn btn-default btn-primary btn-block"
           href="#!/user/{{model.user._id}}/website"
           role="button">Websites</a>

        <a class="btn btn-default btn-danger btn-block"
           href="#!/login"
           role="button">Logout</a>

        <a class="btn btn-default btn-danger btn-block"
           ng-click="model.unregister()"
           role="button">Unregister</a>

        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.updateUser(model.user)"
           role="button">Update</a>
    </div>

</div>
