<link href="/css/bootstrap.css" rel="stylesheet"/>

<div class="container-fluid">
<h1><%= message %></h1>

<ul class="list-group">
    <%  for(var i=0; i<10; i++) {
    %>      <li class="list-group-item">This could be any html content <%= i %></li>
    <%
    }
    %>
</ul>
</div>