input, textarea {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
}

.jga .navbar-default {
    background-color: #5061a0;
    border-color: #262d4c;
}

.jga .navbar-default .navbar-brand {
    color: white;
}

.jga .jga-split-view-left {
    position: absolute;
    top: 60px;
    bottom: 0px;
    z-index: 1;
    overflow-y: scroll;
}


@media (min-width: 1200px) {
    .col-lg-9.jga-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 0px;
    }
}
