<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widget List
            </a>
            <p class="navbar-text pull-right">
                <a href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div ng-repeat="widget in model.widgets" class="wd-widget">
        <div class="wd-widget-toolbar">
            <a href="#!/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-include="model.widgetUrl(widget)"></div>
        <!--<div ng-switch="widget.widgetType">-->
            <!--<div ng-switch-when="HEADING">-->
                <!--<div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>-->
            <!--</div>-->
            <!--<div ng-switch-when="IMAGE">-->
                <!--<div ng-include="'views/widget/templates/widget-img.view.client.html'">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div ng-switch-when="HTML"-->
                 <!--ng-bind-html="model.trust(widget.text)">-->
            <!--</div>-->
            <!--<div ng-switch-when="YOUTUBE">-->
                <!--<iframe width="100%" src="{{model.getYouTubeEmbedUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>