<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Image Editor
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="facebook"
           value="top heading"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="facebook"
           value="US Senate Reaches Compromise"
           id="text"/>




    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="widgetId"  value="123"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>







    <label for="file">Upload</label>
    <input id="file" multiple type="file" class="form-control"/>

    <a href=""
       class="btn btn-block btn-success">Upload</a>

    <a href="widget-list.html"
       class="btn btn-block btn-danger">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-star"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-heart"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
