
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widget Image Editor
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input id="name"
           class="form-control"/>

    <label for="text">Text</label>
    <input id="text"
           class="form-control"/>

    <label for="url">URL</label>
    <input id="url"
           class="form-control"/>

    <a class="btn btn-info btn-block" href="#!/widget/321/search">
        Search
    </a>

    <form action="/api/assignment/undergrad/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file"  class="form-control"/>
        <input  name="widgetId"  value="321"  style="display: none"/>
        <input  name="width"     value="100%" style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>


    <select class="form-control">
        <option value="1">1 (XL Large)</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6 (smallest)</option>
    </select>

    <a class="btn btn-danger btn-block">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Footer
            </a>
        </div>
    </div>
</nav>
