<div ng-class="wd-widget-list">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#" style="color: gray;">
                Widget List
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div ng-repeat="widget in model.widgets"
         class="wd-widget">
        <div class="wd-toolbar">
            <a href="#!/widget/:widgetId">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <!--<div ng-include="model.getWidgetUrlForType(widget.widgetType)"></div>-->
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING">
                <div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>
            </div>
            <div ng-switch-when="IMAGE">
                <div ng-include="'views/widget/templates/widget-image.view.client.html'"></div>
            </div>
            <div ng-switch-when="HTML"
                 ng-bind-html="model.trustThisContent(widget.text)">
            </div>
            <div ng-switch-when="YOUTUBE">
                <div ng-include="'views/widget/templates/widget-youtube.view.client.html'"></div>
            </div>
        </div>
    </div>
</div>

    <div ng-include="'views/common/footer.view.client.html'"></div>

</div>