    <div class="container">
        <h1>Register</h1>

        <label for="username">Username</label>
        <input type="text"
               id="username"
               class="form-control"
               placeholder="username"/>
        <input type="password"
               class="form-control"
               placeholder="password"/>
        <input type="password"
               class="form-control"
               placeholder="very password"/>
        <a class="btn btn-primary btn-block"
           href="#!/profile">Register</a>
        <a class="btn btn-danger  btn-block"
           href="#!/login">Cancel</a>
    </div>
