<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Register</h1>

        <label for="username">Username</label>
        <input id="username" class="form-control"/>

        <label>Password</label>
        <input type="password" class="form-control"/>

        <label>Verify Password</label>
        <input type="password" class="form-control"/>

        <a href="../website/website-list.html" class="btn btn-block btn-primary">Register</a>
        <a href="login.html" class="btn btn-block btn-success">Cancel</a>
    </div>
</body>
</html>