<div class="container-fluid">
    <h1>Register</h1>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>

    <label for="username">Username</label>
    <input id="username"
           ng-model="username"
           class="form-control"/>

    <label>Password</label>
    <input type="password"
           ng-model="password"
           class="form-control"/>

    <label>Verify Password</label>
    <input type="password"
           ng-model="password2"
           class="form-control"/>

    <a ng-click="model.register(username, password, password2)"
       class="btn btn-block btn-primary">Register</a>
    <a href="#!/login" class="btn btn-block btn-success">Cancel</a>
</div>
